body {
        background-color: #696969 !important;
  }
    
.selector-for-some-widget {
        box-sizing: content-box;
}

.rocket{
        animation-name: rocket-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display:inline-block;
}
    
@keyframes rocket-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) } /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) } 
        100% { transform: rotate( 0.0deg) }
}
.introduction {
        color: #A9A9A9;
        letter-spacing: 1.5px;
        font-family: helvetica;
        margin-left: 70px;
        margin-top: 25px;
        margin-right: 100px;
}    
a:link {
        color: #A9A9A9 !important;
        text-decoration: none !important;
}
a:hover {
        text-decoration: underline 0.15em rgba(220,220,220) !important;
        transition: --offset 600ms, text-decoration-color 600ms !important;
}
.halfway, .bottom {
    color: #A9A9A9;
    text-align: center;
    letter-spacing: 2px;
    font-family: helvetica;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;   
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 0;
}
a {
        color: #A9A9A9;
        text-decoration: none !important;
}
